header {
  padding: 10%;
  color: #eeeeee;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  align-items: center;
  flex-direction: column;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(3.5rem, 5vw, 5.1rem);
  line-height: 1;
  margin-bottom: 30px;
}
header h1 span {
  color: #00adb5;
}
.HP {
  color: #eeeeeef1;
  font-size: clamp(1.2rem, 2vw, 2.1rem);
  text-align: center;
}
