.pg {
  color: white;
  padding: 2% 15%;
  height: 90vh;
}
.pg .range {
  width: 55vw;
  margin-right: 10px;
}
.pg span {
  font-size: 2rem;
}
.pg button {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 10px;
}
.pg p {
  font-size: 2rem;
}
.pg .firstP span {
  color: #00adb5;
}